@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Big+Shoulders+Inline+Text:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@400..800&family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Big+Shoulders+Inline+Text:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@400..800&family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Big+Shoulders+Inline+Text:wght@100..900&family=Londrina+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=Baloo+Chettan+2:wght@400..800&family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Big+Shoulders+Inline+Text:wght@100..900&family=Londrina+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=Baloo+Chettan+2:wght@400..800&family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bellota+Text:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Bellota:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Big+Shoulders+Inline+Text:wght@100..900&family=Londrina+Shadow&display=swap');

body {
    background-color: #1B1B1F;
}

.background-image {
    background: url('../../img/DanceEvent/ArtistIntro.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    height: 80vh;
    width: 100%;
}

.container {
    margin-top: 60px;
    margin-bottom: 10px;
}

.row {
    margin-bottom: 60px;
}

img {
    border-radius: 5px;
    border: 0.2px solid #F60E0E;
    width: 400px;
    height: 500px;
    object-fit: cover;

}

.title {
    color: rgb(253, 253, 253);
    font-family: "Almarai", sans-serif;
    font-weight: 900;
    font-size: 42px;
    padding: 0;
    margin-bottom: 0;
}

.subtitle {
    font-family: "Bellota Text", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 20px;
    color: rgb(255, 255, 255);
    color: #F60E0E;
    margin-top: 1px;
    width: 65vh;
}

.text {
    font-family: "Almarai", sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: rgb(255, 255, 255);
    padding: 0 0 10px 0;
    width: 60vh;
}

.background-image {
    position: relative;
    /* Other styles... */
}

.animated-text {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    animation: slideUp 2s ease-in-out forwards;
    opacity: 0; /* Start with the text invisible */
    color: #f9df16;
    font-family: "Bellota Text", sans-serif;
    font-weight: 300px;
    font-style: bold;
    font-size: 42px;
    /* z-index: 999; */
}

/* Footer css */
.footer {
    background-color: #0e0e0e;
    color: red;
    border: solid 1px #d1031a;
    border-bottom: none;
}

.forMoreInfo {
    color: #ffffff;
}

.footer a {
    color: #ffffff;;
}

.footer i {
    font-size: 1.5em;
    color: #ffffff;;

}

.social-icons {
    background-color: #000000e2;
}

.social-icons i {
    color: #ffffff;
}

@keyframes slideUp {
    0% {
        bottom: 0;
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }

    100% {
        bottom: 50%;
        opacity: 1;

    }
}