@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=Lexend+Deca:wght@100..900&display=swap");

body {
    margin: 0;
    padding: 0;
    background-color: #1b1b1f;
}

.background-image {
    position: relative;
    height: 70vh;
    background-image: url("../../img/DanceEvent/sessionIntro.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.secure-your-spot {
    margin-top: 40px;
    width: 1150px;
    font-weight: 900;
    position: relative;
    font-size: 130px;
    display: inline-block;
    font-family: Inter;
    background: linear-gradient(
            160deg,
            rgba(255, 39, 39, 0.8),
            rgba(233, 4, 4, 0)
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    height: 350px;
    transform: rotate(0.53deg);
    transform-origin: 0 0;
    opacity: 0.9;
    /* Add these lines to center the element */
    left: 50%;
    transform: translateX(-50%) rotate(0.53deg);
    margin-bottom: 30px;
}

.now {
    /* Add this rule to make the word "Now" appear */
    display: block;
}

.introText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.introText .text-center {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    font-weight: 800;
    font-size: 32px;
    margin-top: 200px; /* Adjust this value to move the text down */
}

.introText .paragraph-text {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    font-weight: 300;
    width: 60%;
    text-align: center;
    font-size: 20px;
}

.nav-item1 {
    padding: 0 30px;
}

.nav-item1 button {
    color: white;
    font-size: 18px;
    border-radius: 4px 4px 0 0;
    width: 150px;
    height: 50px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.line-div {
    width: 65vh;
    border-top: 1px solid #fdc500;
    box-sizing: border-box;
    height: 1px;
    margin-left: 20px;
}

.nav-item1 .navButton {
    border-radius: 10px 10px 0 0;
    width: 150px;
}

.flex-container {
    display: flex;
    position: relative;
    width: 450px; /* Adjust as needed */
    height: 165px; /* Adjust as needed */
}

/* image */
.group-child {
    width: 250px;
    height: 100%;
    object-fit: cover;
    border-radius: 0 10px 10px 0;
    border: 1px solid #c60908;
}

.date-box {
    border: 1px solid #ddd;
    border-radius: 15px 0 0 15px;
    width: 150px;
    overflow: hidden;
}

.date-box .month,
.date-box .day {
    background-color: white;
    color: black;
    margin: 0; /* Remove default margins */
    padding: 0; /* Add some padding */
}

.date-box .year {
    background-color: blue;
    color: white;
    margin: 0;
    padding: 10px 0;
}

.date-box .day {
    font-size: 25px;
    font-weight: bold;
}

.date-box .year {
    color: white;
}

.date-box .month {
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-weight: lighter;
}

.date-box .day {
    background-color: #fff;
    color: #333;
}

.date-box .year {
    background-color: #0000ff;
    font-size: 20px;
    font-weight: bold;
}

.ticket .btn {
    background-color: #c60908;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.ticket .btn:hover {
    background-color: darkred;
}

.ticket h1,
.ticket h2,
.ticket h3,
.ticket p {
    color: white;
}

.ticket .btn {
    width: 100%;
}

.ticket .event-details h1,
.ticket .event-details p {
    color: white;
    margin: 0;
}

.ticket .event-details .artist-name {
    font-size: 1.5rem; /* Adjust font size as needed */
}

.ticket .event-details .session,
.ticket .event-details .location {
    font-size: 1rem; /* Adjust font size as needed */
}

.ticket .event-details .time-price p {
    font-size: 1rem; /* Adjust font size as needed */
    margin: 0;
}

.ticket .btn {
    width: 60%;
}

.fa {
    margin-right: 5px;
}

.event-details,
.session,
.location,
.time-price {
    margin: 0;
    padding: 5px 0;
}

.time-price .price {
    margin: 0;
    padding: 0 20px;
}

.event-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-left: 100px;
}

.buttonDay1.active,
.buttonDay2.active,
.buttonDay3.active {
    background-color: #e60a0a !important;
    color: #000 !important;
}

.buttonDay1:hover,
.buttonDay2:hover,
.buttonDay3:hover {
    color: #f9cb27 !important; /* Change to your desired color */
}

.selectedDay {
    background-color: #c60908 !important;
    color: white !important;
}

/* Golden Ticket Design */
.full-event-access {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 80px;
    color: #ffce31;
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 50px;
}

.tickets-container {
    display: flex;
    justify-content: center;
}

.day-1,
.day-2,
.day-3 {
    margin-top: 40px;
    font-family: "Almarai", sans-serif;
    font-weight: 800;
    font-style: normal;
    color: white;
    font-size: 35px;
}

.friday-262024,
.saturday-272024,
.sunday-282024 {
    font-family: "Almarai", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: white;
    font-size: 25px;
}

/* Footer css */
.footer {
    background-color: #0e0e0e;
    color: red;
    border: solid 1px #d1031a;
    border-bottom: none;
}

.forMoreInfo {
    color: #ffffff;
}

.footer a {
    color: #ffffff;;
}

.footer i {
    font-size: 1.5em;
    color: #ffffff;;

}

.social-icons {
    background-color: #000000e2;
}

.social-icons i {
    color: #ffffff;
}


@media (max-width: 868px) {
    .ticket .btn {
        width: auto;
    }
}
