.header {
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Aleo', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    margin-top: 50px;
    font-family: 'Aleo', sans-serif;
}

#image-col {
    display: block;
    width: 100%;
    margin-top: 20%;
    height: 50vh;
}

#image-col img {
    min-width: 75%;
    min-height: 75%;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto; /* Center the image */
    height: auto;
    object-fit: contain;
}



.row {
    width: 100%;
    margin: 0;
}

@media (max-width: 768px) {
    .col-8 {
        width: 100%;
        margin: auto;
    }

    .col-4 {
        width: 100%;
        margin: auto;
    }

    .row {
        display: block;
    }

    #photo-col img {
        display: none;
        width: 100%;
        margin-top: 20%;
    }

    .header-img:not(:first-child) {
        display: none;
    }
}

@media (min-width: 1913px) {
    .row {
        width: 60%;
        margin: 0 auto;
    }
}