.header {
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Aleo', sans-serif;
}
h1{
    margin-top: 50px;
    font-family: 'Aleo', sans-serif;
}

.container.subsection{
    display: none;
}

#image-col {
    display:none;
    width:100%;
    margin-top:20%;
}

#image-col img{
    max-width: 100%;
    margin: 0;
    height: auto;
}

.row{
    width: 100%;
    margin: 0;
}

.header header-img {
    max-width:100%;
}

.header header-img img {
    max-width: 100%;
}

@media (max-width: 768px) {
    /* Adjust the layout for mobile devices */
    .col-8 {
        width: 100%;
        margin: auto;
    }
    .col-4 {
        width: 100%;
        margin: auto;
    }
    .row {
        display: block;
    }
    #photo-col img{
        display:none;
        width:100%;
        margin-top:20%;
    }

    .header-img:not(:first-child) {
        display: none;
    }
}

@media (min-width: 1913px) {
    .row{
        width: 60%;
        margin: 0 auto;
    }
}