body {
    background-color: #242424;
}

.festplan {
    margin: 30px;
}

.program-title {
    width: 95%;
    font-weight: 900;
    font-size: 200px;
    background: linear-gradient(180deg, rgba(47, 189, 106, 0.5) 6%, rgba(255, 255, 255, 0));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

.my-program {
    display: flex;
    justify-content: space-between;
}

.my-program img {
    vertical-align: middle;
    margin-right: 10px;
    width: 50px;
    height: auto;
}

.my-program span {
    color: white;
    font-size: 2rem;
    font-weight: 700;
}

.my-program div {
    display: flex;
    align-items: center;
}

.share-btn {
    float: right;
    height: 50px;
    width: 200px;
    border-radius: 50rem; /* Pill shape */
    background-color: white;
}

.share-btn i {
    padding-right: 10px;
}

table {
    margin-top: 20px;
    table-layout: fixed;
}

#checkoutButton {
    float: right;
    background-color: #0f9d58;
    border: none;
    color: black;
    padding: 10px 20px;
}

#calendar {
    margin-top: 100px;
}

.quantity-controls {
    background-color: #0f9d58;
    border-radius: 50%;
    color: black;
}

.footer {
    background-color: #0e0e0e;
    color: #0f9d58;
    border: solid 1px #d1031a;
    border-bottom: none;
    margin-top: 40px;
    width: 100%;
    max-width: 100%;
}

.forMoreInfo {
    color: #ffffff;
}

.footer a {
    color: #ffffff;;
}

.footer i {
    font-size: 1.5em;
    color: #ffffff;;

}

.social-icons {
    background-color: #000000e2;
}

.social-icons i {
    color: #ffffff;
}