@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=Baloo+Chettan+2:wght@400..800&family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Big+Shoulders+Inline+Text:wght@100..900&family=Londrina+Shadow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 64px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #465b52;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* color: #000000; */
}

/* navbar starts here */
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 100px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
    background-color: black;
}

.festival-parent {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}

.festival {
    font-family: "Bungee Shade", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    color: black;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: right;
}

/* Logo */
.navbar-brand {
    font-size: 24px;
    font-weight: 700;
    color: #000000;
}

#navbar li {
    list-style: none;
    padding: 0 15px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    font-weight: 500;
    transition: 0.3s ease-in-out;
}

/*Test*/
.offcanvas {
    left: auto; /* Remove the default left positioning */
    right: 0; /* Position the offcanvas menu to the right */
    width: 80%; /* Adjust the width as needed */
    background-color: white; /* Adjust background color */
}

.offcanvas-body {
    padding: 20px; /* Add padding for spacing */
}

.offcanvas-header,
.offcanvas-body .navbar-nav .nav-link {
    color: black; /* Adjust text color */
}

#offcanvasNavbar a:hover {
    color: gray; /* Adjust hover color */
}

/* Footer css */
.footer {
    margin-top: auto;
    background-color: #ffd756;
    color: #13238c;
    height: 100%;
    max-height: 100%;
    z-index: 1;
}

.forMoreInfo {
    color: #13238c;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
}

.footer a {
    text-decoration: none;
    color: #13238c;
}

.footer h5 {
    font-weight: bold;
}

.footer i {
    font-size: 1.5em;
    color: #13238c;
}

.follow-us {
    margin-left: 1.5;
}

.social-icons {
    background-color: #fce69ee2;
    padding: 10px;
    border-radius: 20%;
    width: 200px;
}

.social-icons a {
    margin: 10px;
    font-size: 1.3em;
}

.social-icons i {
    color: #13238c;
}
