body {
    font-family: Arial, sans-serif;
    background-color: #161A30; /* Set background color */
    margin: 0; /* Reset default margin */
    padding: 0; /* Reset default padding */
    color: #ffffff; /* Set text color */
}

header {
    text-align: center;
    padding: 20px 0;
}

#main-image-placeholder {
    background-image: url('img/HistoryEvent.jpg');
    background-size: cover;
    background-position: center;
    height: 60vh; /* Adjust height to display full image */
}

#main-video-placeholder video {
    width: 100%; /* Video takes full width */
    height: auto; /* Maintain aspect ratio */
}

#locations {
    text-align: center; /* Center align text for location headers */
    padding: 40px 0; /* Add padding above and below the locations section */
}

.location-container {
    display: flex;
    justify-content: space-between; /* Space out the locations */
    flex-wrap: wrap; /* Wrap locations to next line on small screens */
    max-width: 1200px; /* Set maximum width for the container */
    margin: auto; /* Center the container */
}

.location {
    margin: 20px; /* Space between location blocks */
    flex: 1; /* Allow locations to grow and take up equal space */
    max-width: calc(50% - 40px); /* Set a maximum width for two locations per row, minus margin */
    box-sizing: border-box; /* Include padding and border in the width */
    display: flex; /* Make location a flex container */
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center-align items horizontally */
}

.location img {
    max-width: 50%; /* Make image take up to 50% of the location block width */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 20px; /* Add space below the image */
}

h1, h2, h3, p {
    color: #ffffff; /* White text for readability */
}

h2 {
    margin-bottom: 40px; /* Space below the Locations heading */
}

