.sidebar {
    position: fixed;
    height: 100%;
    width: 150px;
    top: 45px;
    left: 0;
    background-color: #f5f5f5;
    padding-top: 22vh;
}

.sidebar a {
    text-decoration: none;
    color: rgb(163, 56, 185);
    display: block;
    padding: 20px 20px;
}

.sidebar a:hover {
    background-color: #d5d4d6;
}

.parent-container {
    display: flex;
}

.sidebar {
    flex: 0 0 auto; /* Don't grow and shrink, but base size on content */
}

.main-container {
    /* flex: auto;  */
    margin-left: 150px;
    margin-top: 20px;

}

#add-artist-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
    height: 100vh;
}

h2 {
    color: rgb(233, 15, 15);
    margin-left: 20px;
}

.btn {
    margin-left: 80%;
}

.buttons {
    margin: 1px 5px;
}

/* Artist */
.artist-card {
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #969596;
    width: 400px;
}

.artist-card img {
    width: 300px;
    height: auto;
    border-radius: 12px 12px 0 0;
}

.artist-card p {
    margin-top: 10px;
}

#artists-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 98%;
    margin-left: 10px;
}


.cardTicket .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cardTicket .card-body p {
    flex-grow: 1;
}

.cardTicket .card-body button {
    margin-right: 10px;
    width: 100px;
}


/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}