@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

    body,
    .admin-panel {
        font-family: 'Open Sans', sans-serif;
        color: #333;
        margin: 0;
        padding: 0;
        padding-bottom: 72px;
        /* Space for the fixed form */
    }

    .admin-panel {
        padding: 20px;
        margin: 0;
    }

    h1,
    h2 {
        color: #0056b3;
    }

    .content-table, .event-table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
    }
    
    .content-table th, .content-table td,
    .event-table th, .event-table td {
        padding: 12px 15px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }
    
    .content-table th, .event-table th {
        background-color: #009879;
        color: #ffffff;
        font-weight: 600;
    }
    
    .content-table tr:nth-of-type(even), .event-table tr:nth-of-type(even) {
        background-color: #f3f3f3;
    }
    
    .content-table tr:hover, .event-table tr:hover {
        background-color: #f2f2f2;
        cursor: default;
    }
    
    .add-entry-form, .add-event-form {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #f9f9f9;
        padding: 10px;
        box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        z-index: 1000;
    }
    
    .add-entry-form label, .add-event-form label {
        margin: 0;
        flex-grow: 1;
    }
    
    .add-entry-form input, .add-entry-form select, .add-entry-form button,
    .add-event-form input, .add-event-form select, .add-event-form button {
        padding: 8px;
        border-radius: 5px;
        border: 1px solid #ddd;
        flex-grow: 1;
    }
    
    .action-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }
    
    .action-buttons button {
        background-color: #28a745;
        color: white;
        padding: 8px 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        width: 90px;
        height: 38px;
    }
    
    .action-buttons button:hover {
        background-color: #218838;
    }
    
    .editable-content textarea {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        display: none;
    }